on boot
    # Permissions for gestures
    chown system system /proc/touchpanel/letter_c_enable
    chown system system /proc/touchpanel/letter_e_enable
    chown system system /proc/touchpanel/letter_s_enable
    chown system system /proc/touchpanel/letter_v_enable
    chown system system /proc/touchpanel/letter_w_enable
    chown system system /proc/touchpanel/letter_z_enable
    chown system system /proc/touchpanel/up_swipe_enable

service touch-hal-1-0 /vendor/bin/hw/vendor.lineage.touch@1.0-service.asus_X00T
    class hal
    user system
    group system
